:root {
  // primary
  --color-primary-100: #E31F24;

  // light
  --color-light-100: #fff;
  --color-light-300: #FDFDFD;
  --color-light-500: #E9ECEF;
  --color-light-700: #E0E0E0;


  // dark
  --color-dark-100: #333333;
  --color-dark-300: #76787D;
  --color-dark-500: #DEDEDD;
  --color-dark-700: #000;
}